@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.back-to-home-button {
  @apply bg-gradient-to-b from-purple-500 to-indigo-600;
  @apply px-4 py-2 font-bold text-white rounded-full shadow-lg;
}

.back-to-home-button:hover {
  @apply shadow-xl;
}
